html, body {
    height: 100%;
    width:100%;
}

body{
    font-family: "Segoe UI",Arial,sans-serif;
    padding:0;
    background-image: url("img/nuit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#lumiere{
    height:100%;
    width: 100%;
    position:relative;
}

#lumiereimg {
    margin: auto;
    height:100%;
    opacity: 0.1;
}

#header
{
    width: 100%;
    background-color: cadetblue;
    color:whitesmoke;
    padding:5px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    text-align: center;
    border-bottom: groove black 5px;
    text-shadow: darkslategrey 3px 3px;
}
#content{
    height: 100%;
    min-width:200px;
    max-width: 1000px;
    width: 75%;
    margin:auto;
    padding: 120px 30px 50px;
    background-color: rgba(0,0,0,0.8);
    position:absolute;
    top:0;
    bot:0;
    left:0;
    right:0;
}
#footer{
    display:block;
    position:absolute;
    bot:0;
    right:0;
    left:0;
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
    padding:5px;
}

#footer, #header{
    z-index: 10;
}
p {
    line-height: 16px;
}
img{
    width: 100%;
}
#tableau{
    display: flex;
}
.contact{
    margin: auto;

}
#tableau_gauche{
    width:20%;
    max-width: 200px;
    max-height: 189px;

}


#voyant {
    width: 100%;
}

#voyant div{
    width: 50%;
}

#phare{
    width: 100%;
}

#tableau_milieu {
    /*Parent de #aiguille => doit être en relative pour que #aiguille se place correctement*/
    position:relative;
    width: 60%;
}
#tableau_milieu img {
    width: 100%;
}
#tableau_droit {
    width: 20%;
    margin-top: auto;
    padding:10px;
}
#tableau_droit form input{
    width: 100%;
    margin-top: auto;
    margin-bottom: 30px;
}

#aiguille{
    width:60%;
    position:absolute;
    top:19.5%;

    /*Centre le div malgré la position absolute*/
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
}
#pedales {
    padding-top: 30px;
    display:flex;
    max-width: 80%;
    margin:auto;
}

#pedales input{
    margin: 0px 20px;
    max-width: 200px;
    min-width: 20px;
    height:100%;
    margin: auto;
}